<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
      <key>CFBundleExecutable</key>
      <string>gofl</string>
      <key>CFBundleTypeIconFile</key>
      <string>gofl.icns</string>
      <key>CFBundleIconFile</key>
      <string>gofl.icns</string>
    </dict>
    </plist>
